/* 글로벌 스타일 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; /* Poppins 폰트를 글로벌하게 적용 */
}

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif; /* 기본 폰트를 Poppins로 설정 */
  line-height: 1.6;
  background-color: #f5f5f5; /* 기본 배경 색상 (선택 사항) */
  color: #333; /* 기본 텍스트 색상 (선택 사항) */
}
