.img {
  width: 25%;
  height: 55%;
  padding: calc(100vw * 5 / 400);
}
.profileInfo {
  width: calc(100vw * 320 / 400);
  height: calc(100vw * 150 / 400);
  padding: calc(100vw * 15 / 400);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.userInfo {
  display: flex;
  height: 90%;
  /* flex-shrink: 0;
  color: #000;
  text-align: start;
  font-size: calc(100vw * 36 / 1440);
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 700;
  line-height: normal; */
}

.userTitle {
  font-size: calc(100vw * 12 / 400);
  margin-bottom: 5%;
  font-weight: 900;
}

.profileContent {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-between;
}

.lineContent {
  font-size: calc(100vw * 12 / 400);
  display: flex;
  justify-content: space-between;
  padding-right: 5%;
}

.hr {
  display: block;
  /* margin-top: 0.5em;
  margin-bottom: 0.5em; */
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 1px;
  border: none;
  background-color: black;
}
