.img {
  width: calc(100vw * 0.25);
  height: calc(100vw * 0.25);
}
.profileInfo {
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.userInfo {
  display: flex;
  /* flex-shrink: 0;
  color: #000;
  text-align: start;
  font-size: calc(100vw * 36 / 1440);
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 700;
  line-height: normal; */
}
.profileContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.lineContent {
  display: flex;
}
