.headerBtn {
  border: none;
  background-color: transparent;
  width: calc(100vw * 60 / 400);
  height: 23px;
  color: #ffffff;
  font-family: Noto Sans KR;
  font-size: calc(100vw * 12 / 400);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: calc(100vw * 5 / 400);
  margin-right: calc(100vw * 5 / 400);
}

/*
==== 로그인 회원가입 버튼 ====
*/
.buttonCommon {
  margin-top: 1em;
  border: none;
  border-radius: 34px;
  width: calc(100vw * 320 / 400);
  height: calc(100vh * 70 / 930);
  margin-left: calc(100vw * 40 / 400);
  margin-right: calc(100vw * 40 / 400);
}

.loginBtn {
  background-color: var(--theme-yellow, #fad744);
  font-family: Noto Sans KR;
}

.signUpBtn {
  background: var(--theme-navy, #2b3252);
  flex-shrink: 0;
}
