.container {
  padding: 2rem;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
  }
}

.toolbox {
  margin-bottom: 1rem;
  display: flex;
  justify-content: end;

  button {
    color: #2a3252;
  }
}

.adminCardWrapper {
  margin-bottom: 1rem;
}

.cardContainer {
  padding: 1rem;
  border: 1px solid #2a3252;
  border-radius: 1rem;
}

.cardContainer p {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.inputBox {
  display: flex;
  flex-direction: column;

  input {
    margin: 0.3rem;
  }

  button {
    display: block;
    width: auto;
    font-size: 1rem;
    margin: 0.5rem 0;
  }
}

.inputButtonBox {
  display: flex;
  justify-content: space-around;
  button {
    display: block;
    width: auto;
    font-size: 1rem;
    margin: 0.5rem 0;
  }
}
