.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 헤더에 섀도우 추가 */
  margin: 0;
  padding: 0;
}

.firstUserHeader,
.firstAdminHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* 버튼이 수직으로 가운데 정렬되도록 */
  padding: 0.5rem 1rem; /* 패딩을 rem 단위로 변경하여 유연성 증가 */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* 하단에 경계선 추가 */
}

.firstUserHeader {
  background-color: var(--theme-red, #ef5455);
}

.firstAdminHeader {
  background-color: var(--theme-blue, #2b3252);
}

.firstHeaderBtnContainer {
  display: flex;
  gap: 0.5rem; /* 버튼 간격을 일정하게 설정 */
}

.secondHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; /* 상하좌우 여백을 일정하게 설정 */
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* 하단에 경계선 추가 */
}

.secondHeaderLogoContainer {
  display: flex;
  align-items: center;
  margin-left: 1rem; /* 마진을 rem 단위로 변경 */
}

.secondHeaderLogo {
  width: 100px; /* 로고 크기 고정 */
  height: auto; /* 비율 유지 */
}

.secondHeaderBtnContainer {
  display: flex;
  align-items: center;
  gap: 1rem; /* 버튼 간격 일정하게 설정 */
}

.secondHeaderBtn {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  padding: 0.5rem;
  transition: transform 0.3s ease; /* 부드러운 hover 애니메이션 */
}

.secondHeaderBtn:hover {
  transform: scale(1.1); /* 살짝 확대 효과 */
}
