.container {
  width: 90%; /* Full width */
  max-width: 800px; /* Limit the max width */
  padding: 1rem; /* Better padding for readability */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px; /* Softer border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Softer shadow */
  margin-top: 20px;
  background-color: #ffffff; /* Light background color */
  transition: box-shadow 0.3s ease; /* Add transition for hover */
  margin-bottom: 2rem; /* Adds space between this component and the next or footer */
}

.container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow on hover */
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333; /* Darker font color for contrast */
}

.showReservationBtn {
  background-color: #4caf50; /* Primary button color */
  color: white;
  padding: 5px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 8px; /* Softer corners */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;

  a {
    color: white;
    text-decoration: none;
  }
}

.showReservationBtn:hover {
  background-color: #45a049; /* Darker green on hover */
  transform: scale(1.05); /* Slight zoom on hover */
}

.showReservationBtn:focus {
  outline: none;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
