/* Swiper styles */
.swiper {
}

.swiperSlide {
}

/* SwiperSlide styles */
.swiperSlide {
  width: 50%;
}
.sliderContainer {
  width: 100%;
}
.sliderContainer img {
  width: 100%;
}
.sliderLink {
  text-decoration: none;
  color: black;
}

/* SwiperSlide content styles */
.sliderImgContainer img {
  border-radius: 15px;
}

.slideInfo {
  width: 100%;
  margin: 0;
  text-align: left;
}

.slideInfo dt {
  margin: 0;
  font-size: 15px;
}

.slideInfo dd {
  margin: 0;
  font-size: 13px;
}

.slideInfo dd:nth-of-type(2) {
  color: gray;
}
