.headerBtn {
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-family: Noto Sans KR;
  font-size: calc(100vw * 12 / 400);
  font-weight: 700;
  line-height: normal;
  margin-left: calc(100vw * 5 / 400);
  margin-right: calc(100vw * 5 / 400);
}

.changePasswordBtn {
  border: none;
  background-color: transparent;
  font-family: Noto Sans KR;
  font-size: calc(100vw * 10 / 400);
  font-weight: 900;
}

.myPageBtnContainer {
  width: calc(100vw * 50 / 400);
  height: calc(100vw * 25 / 400);
  display: flex;
  align-items: left;
  margin-right: calc(100vw * 60 / 400);
}

/*
버튼 공통요소 묶음 (loginForm)
/* ==== 버튼 공통요소 묶음 (loginForm) ==== */
.buttonCommon {
  margin-top: 1.5em;
  border: none;
  border-radius: 30px;
  width: calc(100vw * 320 / 400);
  height: calc(100vh * 70 / 930);
  background-color: #ef5455;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: calc(100vw * 24 / 400);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
}

.buttonCommon:hover {
  background-color: #d43f3f;
  transform: translateY(-2px);
}

/* ==== 로그인 버튼 (loginForm) ==== */
.loginBtn {
  background-color: #ef5455;
}

/* ==== 회원가입 버튼 (loginForm) ==== */
.signUpBtn {
  background-color: #2b3252;
}

.signUpBtn:hover {
  background-color: #1c263b;
}

/*
==== 가입완료 버튼(signUpForm) ====
*/
.signUpComplete {
  background-color: #fad744;
  border-radius: 20px;
  width: calc(100vw * 200 / 400);
  height: calc(100vh * 50 / 930);
  border: none;
  color: #ef5455;
  font-size: calc(100vw * 20 / 400);
  font-weight: 700;
}

/*
==== 버튼 활성화 전(signUpFrom) ====
*/
.disabledBtn {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

/*==== 결제하기 버튼 ====*/
.paymentBtn {
  border: none;
  border-radius: 34px;
  background-color: #ef5455;
  width: calc(100vw * 320 / 400);
  height: calc(100vh * 70 / 930);
  color: white;
  margin-top: 2em;
}

/*==== 변경사항 적용 버튼 ====*/
.applyBtn {
  border: none;
  border-radius: 34px;
  background-color: #ff5252;
  color: white;
  width: calc(100vw * 130 / 400);
  height: calc(100vh * 40 / 930);
}

/*==== 초기화 버튼 ====*/
.resetBtn {
  border: none;
  border-radius: 34px;
  background-color: #8c8c8c;
  color: white;
  width: calc(100vw * 100 / 400);
  height: calc(100vh * 40 / 930);
}
