/*
==== 모바일 버전 input (아이디, 비밀번호) ====
*/
.input1 {
  padding: 5px;
  width: calc(100vw * 350 / 400);
  margin-top: 0.8em;
  font-size: calc(100vw * 32 / 400);
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.25) inset;
  border-radius: 7px;
}

/*
==== 로그인 페이지 전체 wrapper====
*/
.loginWrapper {
  margin-top: 3em;
}

/*
==== 로그인 텍스트 ====
*/
.loginText {
  color: black;
  font-size: calc(100vw * 30 / 400);
  text-align: center;
  margin-bottom: 0.5em;
}

/*
==== 아이디, 비밀번호, 아이디 저장 wrapper ====
*/
.inputWrapper {
  margin-left: calc(100vw * 10 / 400);
  margin-right: calc(100vw * 20 / 400);
}

/*
==== 아이디 확인 체크박스 ====
*/
.saveId {
  margin-top: 1em;
  margin-bottom: 0.8em;
  font-size: calc(100vw * 20 / 400);
  box-sizing: border-box;
  position: relative;
}
/*
==== 아이디저장 텍스트 ====
*/
.saveIdCheckBoxText {
  position: absolute;
  top: 15%;
}
/*
==== 아이디저장 체크박스 ====
*/
.saveIdCheckBox {
  border: none;
  width: calc(100vw * 25 / 400);
  height: calc(100vw * 25 / 400);
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.25) inset;
}
/*
==== 로그인 회원가입 버튼 텍스트 ====
*/
.loginBtnText {
  color: var(--theme-red, #ef5455);
  font-size: calc(100vw * 30 / 400);
  font-family: Noto Sans KR;
  font-weight: 700;
  text-shadow: 6px 2px 6px rgb(224, 171, 171);
}
.signUpBtnText {
  color: var(--theme-yellow, #fad744);
  font-size: calc(100vw * 30 / 400);
  font-family: Noto Sans KR;
  text-shadow: 6px 2px 6px rgb(146, 150, 111);
}

/*
==== placeholder 스타일 설정 ====
*/
.input1::placeholder {
  color: rgba(0, 0, 0, 0.55);
  font-size: calc(100vw * 25 / 400);
  font-family: Noto Sans KR;
}
