/*
==== 회원가입 전체 wrapper ====
*/
.signUpFormWrapper {
  margin: 2em 0;
  margin-left: calc(100vw * 15 / 400);
  margin-right: calc(100vw * 20 / 400);
  display: flex;
  flex-direction: column;
}

/*
==== 회원가입 텍스트 ====
*/
.signUpText {
  color: black;
  font-size: calc(100vw * 30 / 400);
  text-align: center;
}

/*
==== input 박스 스타일 ====
*/
.signUpInputs {
  padding: 5px;
  width: calc(100vw * 350 / 400);
  margin-bottom: 0.8em;
  font-size: calc(100vw * 20 / 400);
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.25) inset;
  border-radius: 7px;
}
/*
==== placeholder 스타일 ====
*/
.signUpInputs::placeholder {
  color: rgba(0, 0, 0, 0.55);
  font-size: calc(100vw * 15 / 400);
  font-family: Noto Sans KR;
}

/*
==== label 스타일 ====
*/
.signUpLabels {
  margin-bottom: 0.2em;
}

/* 
==== 버튼 스타일 ====
*/
.completeBtn {
  display: flex;
  flex-direction: column;
  align-items: end;
}
