.scannerContainer {
  text-align: center;
  margin-top: 4rem;
}

.videoBox {
  width: 90%;
  margin: auto;

  .video {
    width: 100%;
  }

  .noCameraDetected {
    width: auto;
    background-color: red;
    color: white;
    font-size: 3rem;
    border-radius: 4px;
  }
}

.successMessage {
  font-size: 30px;
}
