/* 좌석 하나 속성 */
.seat {
  width: 40px;
  height: 40px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  cursor: pointer;
}

/* 예매가능한 좌석 */
.available {
  background-color: #fff;
}
/* 좌석 선택시 */
.reserved {
  background-color: #6feaf6;
}

/* seatSection */
.seatWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seatSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .seatSection {
    flex-direction: row;
  }
}

.seatGrid {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  gap: 10px;
  flex-wrap: wrap;
  overflow: auto;
  box-sizing: border-box;
  max-width: 100%;
}

.selected {
  margin-top: 20px;
  font-weight: bold;
}

.screen {
  background-color: black;
  height: 70px;
  width: 50%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}
