.seatWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.seatSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.seatGrid {
  display: grid;
  grid-template-rows: repeat(var(--row), 1fr);
  grid-template-columns: repeat(var(--col), 1fr);
  gap: 5px;
  width: 100%;
  max-width: 800px;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
}

.seat {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  cursor: pointer;
  font-size: 0.8em;
}

.available {
  background-color: #727272;
}

.reserved {
  background-color: #fad744;
}

.screen {
  background-color: gray;
  height: 50px;
  width: 80%;
  max-width: 400px;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(2, 1, 1, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen h2 {
  margin: 0;
  font-size: 1.5em;
  color: white;
}

@media (min-width: 768px) {
  .seatSection {
    flex-direction: row;
    justify-content: space-between;
  }

  .seatGrid {
    max-width: 60%;
  }

  .seat {
    font-size: 1em;
  }

  .screen h2 {
    font-size: 2em;
  }
}
