.seatTypeWrapper {
  display: grid;
  gap: calc(1vw);
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(2, 1fr);
}
/* 네모 크기 지정 */
.boxCommon {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  margin: 10px 5px;
}
/* 좌석 별 색 지정 */
.selectedBox {
  background: #fad744;
}
.availableBox {
  background: #727272;
}
.completeBox {
  border: 1px solid #000;
  background: #f2f2f2;
}
/* type 박스 + 텍스트 */
.seatTypeContent {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.unavailBox {
  background: #d9d9d9;
}
