.reserveSection p {
  margin: 5px 0;
}

.sectionWrapper {
  display: flex;
  justify-content: center;
  font-weight: bold;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  padding: 10px;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border: solid;
  margin: 2em;
}
