.sectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  height: 15vh;
  min-height: 150px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 1em 0;
  overflow: auto;
  text-align: center;
}

.reserveSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.reserveRow {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.reserveSection p {
  margin: 5px 0;
  word-break: break-word;
}

@media (min-width: 768px) {
  .sectionWrapper {
    margin: 0 0 0 1em;
  }
}
