.seatTypeWrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1.5em;
}

.boxCommon {
  width: 25px;
  height: 25px;
  border-radius: 4px;
}

.selectedBox {
  background: #fad744;
}

.availableBox {
  background: #8a8a8a;
}

.completeBox {
  background: #e0e0e0;
}

.progressBox {
  background: #2c2c2c;
}

.unavailBox {
  background: #d9d9d9;
}

.seatTypeContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
