.myPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.routerWrapper {
  height: 100vh;
}

.routesWrapper {
  min-height: calc(100% - 300px);
}

.dummyWrapper {
  width: 100%;
}
.wrapper h1 {
  font-weight: bold;
}
