.footerContainer {
    display: flex;
}
.footerBox {
    display: flex;
    margin-top: calc(100vw * 66 / 1440);
    width: calc(100vw * 1440 / 1440);
    height: calc(100vw * 98 / 1440);
    background: var(--grey, #d9d9d9);
}
.footer-start,
.footer-center,
.footer-end {
    flex-direction: row;
    margin-left: calc(100vw * 66 / 1440);
    margin-top: calc(100vw * 27 / 1440);
    margin-right: 0;
    width: calc(100vw * 287 / 1440);
    justify-content: flex-start;
}
.developers-container,
.designer-container {
    display: flex;
    margin-bottom: calc(100vw * 11 / 1440);
}
.developer-title,
.designer-title {
    color: #707070;
    font-family: Noto Sans KR;
    font-size: calc(100vw * 12 / 1440);
    font-style: normal;
    font-weight: calc(100vw * 500 / 1440);
    line-height: normal;
    width: calc(100vw * 54 / 1440);
    height: calc(100vw * 14 / 1440);
    text-align: start;
}
.developer-content,
.designer-content {
    margin-left: calc(100vw * 64 / 1440);
    color: #707070;
    font-family: Noto Sans KR;
    font-size: calc(100vw * 12 / 1440);
    font-style: normal;
    font-weight: calc(100vw * 400 / 1440);
    line-height: normal;
    width: calc(100vw * 180 / 1440);
    height: calc(100vw * 14 / 1440);
    text-align: start;
}
.footer-line {
    margin-top: calc(100vw * 24 / 1440);
    margin-left: calc(100vw * 51 / 1440);
    height: calc(100vw * 50 / 1440);
    width: calc(100vw * 11 / 1440);
}
.footer-email {
    color: #707070;
    font-family: Noto Sans KR;
    font-size: calc(100vw * 13 / 1440);
    font-style: normal;
    font-weight: calc(100vw * 500 / 1440);
    line-height: normal;
    width: calc(100vw * 219 / 1440);
    height: calc(100vw * 17 / 1440);
    text-align: start;
}
.footer-address {
    margin-top: calc(100vw * 11 / 1440);
    color: #707070;
    font-family: Noto Sans KR;
    font-size: calc(100vw * 12 / 1440);
    font-style: normal;
    font-weight: calc(100vw * 500 / 1440);
    line-height: normal;
    width: calc(100vw * 260 / 1440);
    height: calc(100vw * 16 / 1440);
    text-align: start;
}
footer-start::after {
    position: absolute;
    left: 0;
    top: 3px;
    content: '';
    width: 1px;
    height: 15px;
    background-color: black;
}
.footer-end {
    display: flex;
}
.privacy-button {
    margin-top: calc(100vw * 16 / 1440);
    color: #000;
    font-family: Noto Sans KR;
    font-size: calc(100vw * 13 / 1440);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: calc(100vw * 110 / 1440);
    height: calc(100vw * 16 / 1440);
}
.terms-button {
    margin-top: calc(100vw * 16 / 1440);
    margin-left: calc(100vw * 49 / 1440);
    color: #000;
    font-family: Noto Sans KR;
    font-size: calc(100vw * 12 / 1440);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: calc(100vw * 60 / 1440);
    height: calc(100vw * 16 / 1440);
}
.privacy-button,
.terms-button {
    background-color: transparent;
    border: 0;
}
.privacy-button:hover,
.terms-button:hover {
    cursor: pointer;
    color: white;
}
.end-img {
    margin-left: calc(100vw * 52 / 1440);
    margin-top: calc(100vw * 6 / 1440);
    height: calc(100vw * 34 / 1440);
    width: calc(100vw * 94 / 1440);
}